:root {
  --primary-bg: #f2a7a7
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary-bg);
}


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}